importClassesFrom(methods, character, matrix, numeric)

importMethodsFrom(Biobase, exprs, "exprs<-", fData, "fData<-",
                  sampleNames)

importMethodsFrom(CGHbase, calls, "calls<-", chromosomes, copynumber,
                  "copynumber<-", probamp, "probamp<-", probgain,
                  "probgain<-", probloss, "probloss<-", probnorm,
                  "probnorm<-", segmented, "segmented<-")

importMethodsFrom(marray, image, points)

importFrom(graphics, abline, axis, barplot, box, hist, layout, mtext,
           par, segments, title, legend, symbols)

importFrom(corpcor, pcor.shrink)

importFrom(igraph, E, graph.adjacency, layout.circle, plot.igraph)

importFrom(limma, convest)

importFrom(marray, maPalette)

importFrom(MASS, Null, ginv)

importFrom(methods, new)

importFrom(mvtnorm, rmvnorm)

importFrom(penalized, penalized)

importFrom(quadprog, solve.QP)

importFrom(snowfall, sfApply, sfInit, sfLibrary, sfSapply, sfStop)

importFrom(stats, dist, ecdf, mad, median, quantile, sd, coef, cor, p.adjust, residuals, var)


exportPattern("^[^\\.]")

exportClasses(cisTest, entTest, miTest, pathwayFit, rcmFit, rcmTest)

exportMethods(RCMrandom, summary)

export(cghCall2cghSeg, cghCall2maximumSubset, cghCall2order, cghCall2subset, cghCall2weightedSubset,
	cghSeg2order, cghSeg2subset, cghSeg2weightedSubset,
	cisEffectPlot, cisEffectTable, cisEffectTest, cisEffectTune,
	CNGEheatmaps, entropyTest, expandMatching2singleIDs, ExpressionSet2order,
	ExpressionSet2subset, ExpressionSet2weightedSubset, getSegFeatures,
	hdEntropy, hdMI, matchAnn2Ann, matchCGHcall2ExpressionSet, merge2cghCalls,
	merge2ExpressionSets, mutInfTest, nBreakpoints,
	pathway1sample, pathway1sample, pathwayPlot, profilesPlot, RCMestimation,
	RCMrandom, RCMtest, splitMatchingAtBreakpoints, uniqGenomicInfo)



